html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  height: 100vh;
  background-color: white;
  font-family: Open Sans;
  font-size: 12px;
  padding: 0px !important;
}
